
nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


@media (min-width: 768px){
    nav {
        flex-direction: row;
        gap: 30px;
    }
}
h1 {
    text-align: center;
}
img {
    width: 500px;
    display: block;
    border-radius: 50px;
}
video {
    width: 50%;
    display: block;
    padding: 20px;
    background-color: green; 
    
}
table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}
th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: lightgreen;
}
button {
    background-color: lightgreen;
    color:black;
    border: none;
    padding:20px;
    margin: 20px;
}

button:hover {
    background-color: green;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 20px;
}
.grid div {
    padding:20px;
    text-align: center;
    background-color: lightgreen;
}
@media (max-width: 767px){
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}